.container1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: aqua;
}

.container1 .div1 {
  width: 50%;
  height: 150px;
  margin: 10px;
  background-color: red;
}

.container1 .div2 {
  width: 50%;
  height: 150px;
  margin: 10px;
  background-color: red;
}
