* {
  margin: opx;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container-table {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container-table table,
th,
tr > tr > td {
  border: 1px solid rgb(40, 6, 163);
  border-collapse: collapse;
}

.container-table table {
  width: 100%;
}

.container-table table thead {
  text-align: center;
}

.container-table table thead th {
  width: 100px;
  height: 40px;
  border-bottom: 1px solid rgb(18, 175, 4);
}

.container-table table tbody {
  text-align: center;
}

.container-table table tbody tr {
  width: 100px;
  height: 40px;
}

.container-table table tbody tr:nth-child(2n) {
  background-color: brown;
}

.container-table table tbody tr:hover > td {
  background-color: aquamarine;
  color: #f2f2f2;
  font-weight: 700;
}
