@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");

:root {
  font-size: 62.5%;
}

h1 {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Comic Neue", serif;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

a:active {
  color: green;
}

a:hover {
  text-decoration: underline;
}
